In [ ]:
import pandas as pd
import numpy as np

# Model Training

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [ ]:
worksheet = gc.open('Sample Dataset [Romal Jayswal]').sheet1
 
# get_all_values gives a list of rows.
rows = worksheet.get_all_values()
#print(rows)
 
import pandas as pd
df = pd.DataFrame.from_records(rows)

In [ ]:
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header

In [ ]:
df.columns

Index(['Hotel name', 'date', 'month', 'year', 'Day', 'Hotel ratings', 'PQ',
       'PQ comp 1', 'Comp1. rate', 'PQ comp2', 'Comp2. rate', 'PQ comp 3',
       'Comp3. rate', 'PQ comp4', 'Comp4. rate', 'PQ comp 5', 'Comp5. rate',
       'MY Occ', 'Shopping Demand', 'BC (0 day)', 'BC (0-3 days)',
       'BC(4-10days)', 'BC 11+', 'MY rate'],
      dtype='object', name=0)

In [ ]:
for col in df.columns:
  df[col] = df[col].str.replace('$' , '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
df = df.replace('' , 0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 1 to 124
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Hotel name       124 non-null    object
 1   date             124 non-null    object
 2   month            124 non-null    object
 3   year             124 non-null    object
 4   Day              124 non-null    object
 5   Hotel ratings    124 non-null    object
 6   PQ               124 non-null    object
 7   PQ comp 1        124 non-null    object
 8   Comp1. rate      124 non-null    object
 9   PQ comp2         124 non-null    object
 10  Comp2. rate      124 non-null    object
 11  PQ comp 3        124 non-null    int64
 12  Comp3. rate      124 non-null    object
 13  PQ comp4         124 non-null    int64
 14  Comp4. rate      124 non-null    object
 15  PQ comp 5        124 non-null    int64
 16  Comp5. rate      124 non-null    int64
 17  MY Occ           124 non-null    object
 18  Shopping Demand  124 non-null    object
 19  BC (0 day)       124 non-null    object
 20  BC (0-3 days)    124 non-null    object
 21  BC(4-10days)     124 non-null    object
 22  BC 11+           124 non-null    object
 23  MY rate          124 non-null    object
dtypes: int64(4), object(20)
memory usage: 23.4+ KB

In [ ]:
df.columns

Index(['Hotel name', 'date', 'month', 'year', 'Day', 'Hotel ratings', 'PQ',
       'PQ comp 1', 'Comp1. rate', 'PQ comp2', 'Comp2. rate', 'PQ comp 3',
       'Comp3. rate', 'PQ comp4', 'Comp4. rate', 'PQ comp 5', 'Comp5. rate',
       'MY Occ', 'Shopping Demand', 'BC (0 day)', 'BC (0-3 days)',
       'BC(4-10days)', 'BC 11+', 'MY rate'],
      dtype='object', name=0)

In [ ]:
df['Hotel ratings'] = df['Hotel ratings'].astype(float)
df['date'] = df['date'].astype(float)
df['year'] = df['year'].astype(float)
df['PQ'] = df['PQ'].astype(float)

df['PQ comp 1'] = df['PQ comp 1'].astype(float)
df['PQ comp2'] = df['PQ comp2'].astype(float)
df['PQ comp 3'] = df['PQ comp 3'].astype(float)
df['PQ comp4'] = df['PQ comp4'].astype(float)
df['PQ comp 5'] = df['PQ comp 5'].astype(float)

df['Comp1. rate'] = df['Comp1. rate'].astype(float)
df['Comp2. rate'] = df['Comp2. rate'].astype(float)
df['Comp3. rate'] = df['Comp3. rate'].astype(float)
df['Comp4. rate'] = df['Comp4. rate'].astype(float)
df['Comp5. rate'] = df['Comp5. rate'].astype(float)

df['MY Occ'] = df['MY Occ'].astype(float)
df['BC (0 day)'] = df['BC (0 day)'].astype(float)
df['BC (0-3 days)'] = df['BC (0-3 days)'].astype(float)
df['BC(4-10days)'] = df['BC(4-10days)'].astype(float)
df['BC 11+'] = df['BC 11+'].astype(float)

df['MY rate'] = df['MY rate'].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 1 to 124
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Hotel name       124 non-null    object
 1   date             124 non-null    float64
 2   month            124 non-null    object
 3   year             124 non-null    float64
 4   Day              124 non-null    object
 5   Hotel ratings    124 non-null    float64
 6   PQ               124 non-null    float64
 7   PQ comp 1        124 non-null    float64
 8   Comp1. rate      124 non-null    float64
 9   PQ comp2         124 non-null    float64
 10  Comp2. rate      124 non-null    float64
 11  PQ comp 3        124 non-null    float64
 12  Comp3. rate      124 non-null    float64
 13  PQ comp4         124 non-null    float64
 14  Comp4. rate      124 non-null    float64
 15  PQ comp 5        124 non-null    float64
 16  Comp5. rate      124 non-null    float64
 17  MY Occ           124 non-null    float64
 18  Shopping Demand  124 non-null    object
 19  BC (0 day)       124 non-null    float64
 20  BC (0-3 days)    124 non-null    float64
 21  BC(4-10days)     124 non-null    float64
 22  BC 11+           124 non-null    float64
 23  MY rate          124 non-null    float64
dtypes: float64(20), object(4)
memory usage: 23.4+ KB

In [ ]:
df

,Hotel name,date,month,year,Day,Hotel ratings,PQ,PQ comp 1,Comp1. rate,PQ comp2,...,Comp4. rate,PQ comp 5,Comp5. rate,MY Occ,Shopping Demand,BC (0 day),BC (0-3 days),BC(4-10days),BC 11+,MY rate
1,Sleep-Inn-Kansas-City-International-Airport,1.0,sept,2022.0,thursday,2.0,2.0,1.0,103.0,1.0,...,0.0,0.0,0.0,25.0,low,50.0,20.0,15.0,15.0,70.0
2,Sleep-Inn-Kansas-City-International-Airport,2.0,sept,2022.0,friday,2.0,2.0,1.0,114.0,1.0,...,0.0,0.0,0.0,75.0,high,40.0,30.0,15.0,15.0,100.0
3,Sleep-Inn-Kansas-City-International-Airport,3.0,sept,2022.0,saturday,2.0,2.0,1.0,0.0,1.0,...,0.0,0.0,0.0,75.0,high,30.0,20.0,25.0,25.0,90.0
4,Sleep-Inn-Kansas-City-International-Airport,4.0,sept,2022.0,sunday,2.0,2.0,1.0,114.0,1.0,...,0.0,0.0,0.0,25.0,low,50.0,20.0,15.0,15.0,70.0
5,Sleep-Inn-Kansas-City-International-Airport,5.0,sept,2022.0,monday,2.0,2.0,1.0,0.0,1.0,...,0.0,0.0,0.0,25.0,low,40.0,30.0,15.0,15.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,Hotel D,27.0,sept,2022.0,tuesday,5.0,5.0,4.0,65.0,2.0,...,48.0,0.0,0.0,25.0,low,30.0,20.0,25.0,25.0,85.0
121,Hotel D,28.0,sept,2022.0,wednesday,5.0,5.0,4.0,65.0,2.0,...,48.0,0.0,0.0,25.0,low,50.0,20.0,15.0,15.0,85.0
122,Hotel D,29.0,sept,2022.0,thursday,5.0,5.0,4.0,65.0,2.0,...,48.0,0.0,0.0,25.0,low,40.0,30.0,15.0,15.0,85.0
123,Hotel D,30.0,sept,2022.0,friday,5.0,5.0,4.0,64.0,2.0,...,48.0,0.0,0.0,25.0,low,30.0,20.0,25.0,25.0,95.0
124,Hotel D,31.0,sept,2022.0,saturday,5.0,5.0,4.0,64.0,2.0,...,48.0,0.0,0.0,25.0,low,40.0,30.0,15.0,15.0,90.0

# Model Training & testing

In [ ]:
from sklearn.model_selection import train_test_split


x = df.drop('MY rate', axis = 1)
y = df['MY rate']


x_input = x

In [ ]:
x = pd.get_dummies(x)

In [ ]:
x

,date,year,Hotel ratings,PQ,PQ comp 1,Comp1. rate,PQ comp2,Comp2. rate,PQ comp 3,Comp3. rate,...,Day_friday,Day_monday,Day_saturday,Day_sunday,Day_thursday,Day_tuesday,Day_wednesday,Shopping Demand_high,Shopping Demand_low,Shopping Demand_medium
1,1.0,2022.0,2.0,2.0,1.0,103.0,1.0,91.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
2,2.0,2022.0,2.0,2.0,1.0,114.0,1.0,91.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
3,3.0,2022.0,2.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,1,0,0
4,4.0,2022.0,2.0,2.0,1.0,114.0,1.0,91.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
5,5.0,2022.0,2.0,2.0,1.0,0.0,1.0,108.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,27.0,2022.0,5.0,5.0,4.0,65.0,2.0,54.0,0.0,50.0,...,0,0,0,0,0,1,0,0,1,0
121,28.0,2022.0,5.0,5.0,4.0,65.0,2.0,54.0,0.0,53.0,...,0,0,0,0,0,0,1,0,1,0
122,29.0,2022.0,5.0,5.0,4.0,65.0,2.0,54.0,0.0,53.0,...,0,0,0,0,1,0,0,0,1,0
123,30.0,2022.0,5.0,5.0,4.0,64.0,2.0,80.0,0.0,77.0,...,1,0,0,0,0,0,0,0,1,0
124,31.0,2022.0,5.0,5.0,4.0,64.0,2.0,80.0,0.0,77.0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor




lr = LinearRegression()
knnr = KNeighborsRegressor()
dtr = DecisionTreeRegressor(random_state=0)
xgbr = XGBRegressor()
gbr = GradientBoostingRegressor(random_state=0)
abr = AdaBoostRegressor(random_state=0, n_estimators=100)
rfr = RandomForestRegressor(max_depth=2, random_state=0)

In [ ]:
algo_list = [lr , knnr , dtr , xgbr , gbr , abr , rfr]

In [ ]:
perf = pd.DataFrame()

algos = []
train_scores = []
test_scores = []

for algo in algo_list:
  model = algo.fit(x_train , y_train)
  train_score = model.score(x_train, y_train)
  test_score = model.score(x_test, y_test)

  algos.append(algo)
  train_scores.append(train_score)
  test_scores.append(test_score)

perf['algo'] = algos
perf['train_score'] = train_scores
perf['test_score'] = test_scores


perf.sort_values(by=['test_score'])

[16:04:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

                                                algo  train_score  test_score
1                              KNeighborsRegressor()     0.684733    0.530857
2              DecisionTreeRegressor(random_state=0)     1.000000    0.835389
6  (DecisionTreeRegressor(max_depth=2, max_featur...     0.886644    0.872531
5  (DecisionTreeRegressor(max_depth=3, random_sta...     0.950367    0.889731
4  ([DecisionTreeRegressor(criterion='friedman_ms...     0.999872    0.946101
0                                 LinearRegression()     0.954408    0.947248
3                                     XGBRegressor()     0.999006    0.974055

In [ ]:
x_test

,date,year,Hotel ratings,PQ,PQ comp 1,Comp1. rate,PQ comp2,Comp2. rate,PQ comp 3,Comp3. rate,...,Day_friday,Day_monday,Day_saturday,Day_sunday,Day_thursday,Day_tuesday,Day_wednesday,Shopping Demand_high,Shopping Demand_low,Shopping Demand_medium
19,19.0,2022.0,2.0,2.0,1.0,108.0,1.0,91.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
43,12.0,2022.0,3.0,3.0,2.0,80.0,1.0,54.0,0.0,52.0,...,0,1,0,0,0,0,0,0,1,0
37,6.0,2022.0,3.0,3.0,2.0,70.0,1.0,58.0,0.0,60.0,...,0,0,0,0,0,1,0,0,1,0
77,15.0,2022.0,4.0,4.0,3.0,108.0,1.0,102.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,1
54,23.0,2022.0,3.0,3.0,2.0,80.0,1.0,80.0,0.0,81.0,...,1,0,0,0,0,0,0,0,0,1
91,29.0,2022.0,4.0,4.0,3.0,93.0,1.0,91.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
57,26.0,2022.0,3.0,3.0,2.0,65.0,1.0,54.0,0.0,50.0,...,0,1,0,0,0,0,0,0,1,0
123,30.0,2022.0,5.0,5.0,4.0,64.0,2.0,80.0,0.0,77.0,...,1,0,0,0,0,0,0,0,1,0
122,29.0,2022.0,5.0,5.0,4.0,65.0,2.0,54.0,0.0,53.0,...,0,0,0,0,1,0,0,0,1,0
5,5.0,2022.0,2.0,2.0,1.0,0.0,1.0,108.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
28,28.0,2022.0,2.0,2.0,1.0,103.0,1.0,91.0,0.0,0.0,...,0,0,0,0,0,0,1,0,1,0
102,9.0,2022.0,5.0,5.0,4.0,70.0,2.0,80.0,0.0,0.0,...,1,0,0,0,0,0,0,1,0,0
45,14.0,2022.0,3.0,3.0,2.0,70.0,1.0,65.0,0.0,49.0,...,0,0,0,0,0,0,1,0,1,0
96,3.0,2022.0,5.0,5.0,4.0,120.0,2.0,85.0,0.0,0.0,...,0,0,1,0,0,0,0,1,0,0
20,20.0,2022.0,2.0,2.0,1.0,108.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
78,16.0,2022.0,4.0,4.0,3.0,0.0,1.0,98.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
11,11.0,2022.0,2.0,2.0,1.0,103.0,1.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,1,0,0
101,8.0,2022.0,5.0,5.0,4.0,72.0,2.0,68.0,0.0,51.0,...,0,0,0,0,1,0,0,0,1,0
12,12.0,2022.0,2.0,2.0,1.0,108.0,1.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
114,21.0,2022.0,5.0,5.0,4.0,70.0,2.0,54.0,0.0,50.0,...,0,0,0,0,0,0,1,0,1,0
48,17.0,2022.0,3.0,3.0,2.0,195.0,1.0,179.0,0.0,0.0,...,0,0,1,0,0,0,0,0,1,0
79,17.0,2022.0,4.0,4.0,3.0,108.0,1.0,98.0,0.0,0.0,...,0,0,1,0,0,0,0,0,1,0
1,1.0,2022.0,2.0,2.0,1.0,103.0,1.0,91.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
27,27.0,2022.0,2.0,2.0,1.0,103.0,1.0,91.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
32,1.0,2022.0,3.0,3.0,2.0,70.0,1.0,67.0,0.0,56.0,...,0,0,0,0,1,0,0,0,1,0
68,6.0,2022.0,4.0,4.0,3.0,108.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
13,13.0,2022.0,2.0,2.0,1.0,108.0,1.0,98.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
25,25.0,2022.0,2.0,2.0,1.0,103.0,1.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
46,15.0,2022.0,3.0,3.0,2.0,70.0,1.0,62.0,0.0,50.0,...,0,0,0,0,1,0,0,0,0,1
108,15.0,2022.0,5.0,5.0,4.0,70.0,2.0,62.0,0.0,50.0,...,0,0,0,0,1,0,0,0,0,1
90,28.0,2022.0,4.0,4.0,3.0,103.0,1.0,91.0,0.0,0.0,...,0,0,0,0,0,0,1,0,1,0
74,12.0,2022.0,4.0,4.0,3.0,108.0,1.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
65,3.0,2022.0,4.0,4.0,3.0,0.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,1,0,0
16,16.0,2022.0,2.0,2.0,1.0,0.0,1.0,98.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
112,19.0,2022.0,5.0,5.0,4.0,80.0,2.0,65.0,0.0,50.0,...,0,1,0,0,0,0,0,0,1,0
23,23.0,2022.0,2.0,2.0,1.0,108.0,1.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,1
41,10.0,2022.0,3.0,3.0,2.0,70.0,1.0,80.0,0.0,66.0,...,0,0,1,0,0,0,0,1,0,0
82,20.0,2022.0,4.0,4.0,3.0,108.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,1,0
86,24.0,2022.0,4.0,4.0,3.0,103.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,1
31,31.0,2022.0,2.0,2.0,1.0,93.0,1.0,91.0,0.0,0.0,...,0,0,1,0,0,0,0,0,1,0
94,1.0,2022.0,5.0,5.0,4.0,70.0,2.0,67.0,0.0,56.0,...,0,0,0,0,1,0,0,0,1,0

# XGBoost regressor

In [ ]:
xgbr = XGBRegressor()

model = xgbr.fit(x_train , y_train)

[16:04:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

# Predictions on user inputs

In [ ]:
input_cols = ['Hotel name', 'date', 'month', 'year', 'Day', 'Hotel ratings', 'PQ',
       'PQ comp 1', 'Comp1. rate', 'PQ comp2', 'Comp2. rate', 'PQ comp 3',
       'Comp3. rate', 'PQ comp4', 'Comp4. rate', 'PQ comp 5', 'Comp5. rate',
       'MY Occ', 'Shopping Demand', 'BC (0 day)', 'BC (0-3 days)',
       'BC(4-10days)', 'BC 11+']

input_df = pd.DataFrame(columns=input_cols)

input_df

Empty DataFrame
Columns: [Hotel name, date, month, year, Day, Hotel ratings, PQ, PQ comp 1, Comp1. rate, PQ comp2, Comp2. rate, PQ comp 3, Comp3. rate, PQ comp4, Comp4. rate, PQ comp 5, Comp5. rate, MY Occ, Shopping Demand, BC (0 day), BC (0-3 days), BC(4-10days), BC 11+]
Index: []

[0 rows x 23 columns]

# user input

In [ ]:
for col in input_df.columns:
  l = []
  print("enter", col)
  temp = input()
  l.append(temp)
  input_df[col] = l

enter Hotel name
Hotel D
enter date
28
enter month
sept
enter year
2022
enter Day
wednesday
enter Hotel ratings
3
enter PQ
2
enter PQ comp 1
4
enter Comp1. rate
75
enter PQ comp2
2
enter Comp2. rate
95
enter PQ comp 3
5
enter Comp3. rate
80
enter PQ comp4
1
enter Comp4. rate
70
enter PQ comp 5
5
enter Comp5. rate
100
enter MY Occ
35
enter Shopping Demand
low
enter BC (0 day)
50
enter BC (0-3 days)
30
enter BC(4-10days)
15
enter BC 11+
5

In [ ]:
input_df

,Hotel name,date,month,year,Day,Hotel ratings,PQ,PQ comp 1,Comp1. rate,PQ comp2,...,PQ comp4,Comp4. rate,PQ comp 5,Comp5. rate,MY Occ,Shopping Demand,BC (0 day),BC (0-3 days),BC(4-10days),BC 11+
0,Hotel D,28,sept,2022,wednesday,3,2,4,75,2,...,1,70,5,100,35,low,50,30,15,5

In [ ]:
input_df['Hotel ratings'] = input_df['Hotel ratings'].astype(float)
input_df['date'] = input_df['date'].astype(float)
input_df['year'] = input_df['year'].astype(float)
input_df['PQ'] = input_df['PQ'].astype(float)

input_df['PQ comp 1'] = input_df['PQ comp 1'].astype(float)
input_df['PQ comp2'] = input_df['PQ comp2'].astype(float)
input_df['PQ comp 3'] = input_df['PQ comp 3'].astype(float)
input_df['PQ comp4'] = input_df['PQ comp4'].astype(float)
input_df['PQ comp 5'] = input_df['PQ comp 5'].astype(float)

input_df['Comp1. rate'] = input_df['Comp1. rate'].astype(float)
input_df['Comp2. rate'] = input_df['Comp2. rate'].astype(float)
input_df['Comp3. rate'] = input_df['Comp3. rate'].astype(float)
input_df['Comp4. rate'] = input_df['Comp4. rate'].astype(float)
input_df['Comp5. rate'] = input_df['Comp5. rate'].astype(float)

input_df['MY Occ'] = input_df['MY Occ'].astype(float)
input_df['BC (0 day)'] = input_df['BC (0 day)'].astype(float)
input_df['BC (0-3 days)'] = input_df['BC (0-3 days)'].astype(float)
input_df['BC(4-10days)'] = input_df['BC(4-10days)'].astype(float)
input_df['BC 11+'] = input_df['BC 11+'].astype(float)

In [ ]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Hotel name       1 non-null      object
 1   date             1 non-null      float64
 2   month            1 non-null      object
 3   year             1 non-null      float64
 4   Day              1 non-null      object
 5   Hotel ratings    1 non-null      float64
 6   PQ               1 non-null      float64
 7   PQ comp 1        1 non-null      float64
 8   Comp1. rate      1 non-null      float64
 9   PQ comp2         1 non-null      float64
 10  Comp2. rate      1 non-null      float64
 11  PQ comp 3        1 non-null      float64
 12  Comp3. rate      1 non-null      float64
 13  PQ comp4         1 non-null      float64
 14  Comp4. rate      1 non-null      float64
 15  PQ comp 5        1 non-null      float64
 16  Comp5. rate      1 non-null      float64
 17  MY Occ           1 non-null      float64
 18  Shopping Demand  1 non-null      object
 19  BC (0 day)       1 non-null      float64
 20  BC (0-3 days)    1 non-null      float64
 21  BC(4-10days)     1 non-null      float64
 22  BC 11+           1 non-null      float64
dtypes: float64(19), object(4)
memory usage: 312.0+ bytes

there's a mismatch of features when i put input directly to algo or when i do one hot encoding on input values, 

because the no of features in x_train[34] differs from features in input [23]

1st we need to append input row to original dataframe

then do one hot encoding on the dataframe

then take that input row out & use it as input

this should resolve the mismatch

In [ ]:
sample_data = df.append(input_df)

In [ ]:
sample_data.shape , df.shape ,  input_df.shape

((125, 24), (124, 24), (1, 23))

In [ ]:
temp = pd.get_dummies(sample_data)

In [ ]:
input = temp.tail(1)

input = input.drop('MY rate' , axis = 1)

input.shape

(1, 34)

see, now the no of features are matching the original training data [x_train] [34]

In [ ]:
pred = model.predict(input)

In [ ]:
pred

array([77.092415], dtype=float32)